$green: #377668;
$experienceColor: #A45A25;
$repColor: black;
$stateColor: #743D47;
$yellow: #D1A730;
$lightGray: #DDDAC8;

body,html {
  min-width: 300px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#header {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 50px;
}
.subtitle {
  margin: auto;
  margin-bottom: 1em;
  max-width: 800px;
  padding: 1.5em;
}
.sectionText {
  padding-top: 0.5em;
}
#header-subtitle {
  padding: 1.5em;
}
a {
  cursor: pointer;
  font-weight: 500;
  color: $green;
}
.clicked {
  background-color: $green;
  color: white;
}

#options-nav {
  max-width: 350px;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}
#button-essay {
  background-color: $green;
  color: white;
  border: none;
}
#nav-text {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 10px;
}
#options-data {
  display: none;
  max-width: 900px;
  margin: auto;
  padding-bottom: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.stuck {
  position: fixed;
  top: 0;
}
#options-wrapper {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.options-section {
  width: 30%;
}
#options-compare {
  width: 40%;
}
.searchbar-input {
  width: 75%;
  height: 18px;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-size: 11px;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid;
  font-size: 11px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $green;
  color: white;
}
button {
  background-color: none;
  font-size: 11px;
  border-radius: 2px;
  height: 23px;
  font-weight: 500;
  border: 1.5px solid;
  cursor: pointer;
  margin: 1px;
}
#button-party {
  width: 55px;
}
#button-year {
  width: 80px;
}
#button-total {
  width: 80px;
  display: none;
}



.subsection-chart {
  display: none;
  margin-bottom: 10px;
}
#chart {
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.accordion {
  padding-left: 10px;
  background: $lightGray;
  line-height: 30px;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px;
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  margin-right: 10px;
  float: right;
}
.active:after {
  content: "\2796";
}
.chart-svg {
  width: 100%;
}
.panel {
  max-height: 0;
  margin-top: 25px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
#col1label {
  text-anchor: middle;
}
#col2label {
  text-anchor: middle;
}
.bigLabels {
  font-size: 14px;
  font-weight: 800;
}
.smallLabels {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.memberDots {
  fill: $green;
  cursor: pointer;
}





#methods {
  margin: 0 auto;
  max-width: 650px;
  margin-bottom: 50px;
  border-top: dashed 0.5px gray;
}
#methods-text {
  font-size: 11px;
  font-weight: 300;
}




@media screen and (min-width:399px) {
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 13px;
    font-weight: 200;
  }
  .mouseover_text {
    font-size: 11px;
  }
}
@media screen and (max-width:400px) {
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 11px;
    font-weight: 200;
  }
  .mouseover_text {
    font-size: 10px;
  }
}
@media screen and (max-width:350px) {
  button {
    height: 35px;
  }
  #nav-text {
    margin-top: 10px;
  }
}
