$green: #377668;
$experienceColor: #A45A25;
$repColor: #743D47;
$stateColor: #D1A730;

body,html {
  min-width: 300px;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#header {
  margin: 0 auto;
  max-width: 650px;
  margin-top: 30px;
}
#subtitle {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 800px;
  padding: 8px;
}




#options {
  max-width: 900px;
  margin: auto;
  padding-bottom: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.stuck {
  position: fixed;
  top: 0;
}
#options-wrapper {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.options-section {
  width: 30%;
}
#options-compare {
  width: 40%;
}
.searchbar-input {
  width: 75%;
  height: 18px;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-size: 11px;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid;
  font-size: 11px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $stateColor;
}
button {
  background-color: none;
  font-size: 11px;
  border-radius: 2px;
  height: 23px;
  font-weight: 500;
  border: 1.5px solid;
  cursor: pointer;
}
#button-party {
  width: 55px;
}
#button-year {
  width: 80px;
}
#button-total {
  width: 80px;
  display: none;
}




#chart {
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
}
#chart-svg {
  width: 100%;
  height: 100%;
}
.bigLabels {
  font-size: 14px;
  font-weight: 800;
}
.smallLabels {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.memberDots {
  fill: $green;
  cursor: pointer;
}
.mouseover_text {
  font-size: 11px;
  text-anchor: start;
}




#methods {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 100px;
}
#methods-text {
  font-size: 11px;
  font-weight: 300;
}




@media screen and (min-width:400px) {
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 13px;
    font-weight: 200;
  }
}
@media screen and (max-width:400px) {
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 11px;
    font-weight: 200;
  }
}
